html{
    width: 100%;
    height: 100%;
}

body{
    width:100%;
    height:100%;
    font-family: "Microsoft YaHei","Microsoft YaHei UI","Open Sans",sans-serif;
    background: #e9ecf3;
}

.table > tbody > tr > td{
    vertical-align: middle;
}

@media (min-width: 768px){
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
        margin-right: 15px;
        margin-left: 0;
    }
}

.page-header{
    border: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 10px 0 rgba(50,50,50,.2);
    background: #fff;
}

@media (max-width: 991px) {
    .page-header.navbar {
        padding: 0;
        margin: 0;
        position: relative;
        clear: both;
    }
}

.page-header .dropdown-toggle {
    position: relative;
    line-height: 50px;
    padding: 0 15px;
}

.page-header .dropdown-toggle>i{
    font-size: 16px;
    top: 2px;
    position: relative;
    padding-right: 4px;
}

.page-header .dropdown-menu li{
    padding:6px 15px;
}

.page-header .dropdown-menu .detail{
    width: 250px;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
}

.page-header .dropdown-menu .detail .label{
    float: left;
    padding: 5px;
    margin-right: 10px;
}

.page-container {
    margin: 0px;
    padding: 20px 20px 0 20px;
    position: relative;
}

@media (max-width: 767px){
    .page-container {
        margin: 0 !important;
        padding: 0;
    }
}

@media (max-width: 991px){
    .page-container {
        margin: 0 !important;
        padding: 10px 10px 0 10px;
    }
}

.page-header-fixed .page-container {
    margin-top: 50px;
}

.page-container .panel.panel-portlet{
    margin-bottom: 0;
}

.page-container .panel.panel-portlet .panel-body{
    padding-bottom: 0;
}

.page-container .panel .panel-heading .action-left{
    text-align: center;
    margin-bottom: 10px;
}

.page-container .panel .panel-heading .action-right{
    text-align: center;
}

@media (min-width: 768px) {
    .page-container .panel .panel-heading .action-left{
        text-align: left;
        margin-bottom: 0px;
    }

    .page-container .panel .panel-heading .action-right{
        text-align: right;
    }
}

.page-container .alert-legend{
    margin-right: 20px;
}

.page-container .label-blank{
    padding:5px 12px 5px 12px;
    margin-right:6px;
    display: inherit;
 }

.page-container .alert-table{
}

.page-container .alert-table .station-wrapper .station-label{
    float:left;
    width:60px;
    position: relative;
    margin-right: -100%;
}

.page-container .alert-table .table-wrapper{
    float: left;
    width: 100%;
}

.page-container .alert-table .table-wrapper .table-frame{
    margin-left: 60px;
    position: relative;
}

.page-container .alert-table .table-wrapper .table-frame .table-label{
    height:100%;
    width: 100%;
    position: absolute;
    z-index:0;
}

.page-container .alert-table .table-wrapper .table-frame .table-label div{
    width:4.1666666666667%;
    border-width: 0 0 0 1px;
    border-style:dotted;
    float:left;
    text-align: center;
    height: 100%;
    font-size: 13px;
    color:#999;
}
.page-container .alert-table .table-wrapper .table-frame .table-label div:last-child{
    border-width: 0 1px 0 1px;
}

.page-container .alert-table .station-wrapper .station-label,
.page-container .alert-table .table-wrapper .table-frame .table-content{
    padding-top: 30px;
}

.page-container .alert-table .station-wrapper .station-label ul li,
.page-container .alert-table .table-wrapper .table-frame .table-content ul li{
    padding-bottom: 15px;
    position:relative;
}

.page-container .alert-table .table-wrapper .table-frame .table-content .table-item{
    width:100%;
    height:20px;
}

.page-container .alert-table .table-wrapper .table-frame .table-content .table-item div{
    width:1.04166666666666667%;
    border:1px dotted #ccc;
    cursor:pointer;
    float:left;
    height:100%;
}

.page-container .alertPagination .pagination{
    margin-top:0;
    margin-bottom: 0;
    padding-right: 15px;
}

.page-container .spin-background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 100px;
    z-index: 10000;
}

.page-container .station-list-container{
    width:100%;
    height:770px;
    overflow: scroll;
    position: relative;
}

.page-container .station-list-container ul li{
    margin-right: 5px;
    margin-bottom: 5px;
    float:left;
}

.page-container .station-list-container .station-label{
    /*width:93%;*/
}

.page-container .station-list-container .station-label img.img-statue{
    width:16px;
    height: 16px;
    margin-right: 2px;
    vertical-align: sub;
}

.page-container .chart-area{
    min-height:300px;
    height:300px;
    position: relative;
}

.page-container .table-container{
    padding-top: 15px;
}

@media (min-width: 768px) {
    .page-container .table-container .table-group-actions .form-inline > .form-group {
        margin: auto 20px;
    }

    .page-container .table-container .table-group-actions .form-inline > .form-group:last-of-type {
        margin-right: 0;
    }
}

.table-container .dataTables_wrapper .dataTables_filter input{
    margin-left: 0;
}

@media (max-width: 767px){
    .table-container .dataTables_wrapper .dataTables_filter input{
        width:100%;
    }
}

.page-footer {
    padding: 15px 20px 15px 20px;
    font-size: 13px;
    /* height: 33px; */
    border-top: 1px solid #ccc;
}

.page-footer .page-footer-inner {
    color: #33404c;
    text-align: center;
}

/* Scroll Top Top */
.scroll-to-top {
    display: inline-block;
    padding: 2px;
    text-align: center;
    position: fixed;
    z-index: 10001;
    bottom: 10px;
    display: none;
    right: 10px;
}

.scroll-to-top > i {
    display: inline-block;
    color: #687991;
    font-size: 32px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.scroll-to-top:hover {
    cursor: pointer;
}

.scroll-to-top:hover > i {
    opacity: 1;
    filter: alpha(opacity=100);
}

@media (min-width: 992px) {
    /* 992px */
    .scroll-to-top {
        right: 10px;
    }
}

@media (max-width: 991px) {
    /* 991px */
    .scroll-to-top {
        right: 10px;
    }

    .scroll-to-top > i {
        font-size: 28px;
    }
}
